@using Blog.Models
@model Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <label>User Name</label>
        @Html.TextBoxFor(m=>m.Username, new{@class="form-control"});
        <label>Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" });
        <br/>
        <button class="btn btn-primary" type="submit"> Login </button>
    }
</div>