@model Blog.Models.MyBlog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MyBlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloggerImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloggerImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
